.main-grocery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}
.grocery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
    box-shadow: 0 0 .5rem var(--shadowColor);
    margin: 3rem 0;
}
.grocery-title{
    font-size: 2.5rem;
    color: var(--darkColor);
    margin-bottom: 1rem;
}
.grocery-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.grocery-form input{
    font-size: 1.4rem;
    padding: .8rem 1rem;
    width: 80%;
    border: 2px solid transparent;
    outline: 0;
    border-radius: .3rem 0 0 .3rem;
    background-color: var(--lightColor);
    transition: all 300ms ease-in-out;
}
.grocery-form input:focus{
    border: 2px solid var(--purpleColor);
}
.grocery-form button{
    width: calc(100% - 80%);
    border: 2px solid transparent;
    outline: 0;
    padding: .8rem 1rem;
    background-color: var(--purpleColor);
    color: var(--lightColor);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 0 .3rem .3rem 0;
}
.grocery-form button:hover{
    background-color: var(--purpleDarkColor);
}
.grocery-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.grocery-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: .5rem;
}
.grocery-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grocery-item-left input[type=checkbox]{
    margin-right: 1rem;
}
.grocery-item-left span{
    font-size: 1.6rem;
    color: var(--darkDarkColor);
}
.grocery-item-delete{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--redColor);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.grocery-item-delete:hover{
    color: var(--redDarkColor);
}